.nav {
  display: flex;
  align-items: center;
}
.titleLink {
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleText {
  color: #5b53c4;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #0b0b0b;
  font-family: "Shadows Into Light Two", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  .title {
    display: none;
  }
}
